// Modules
@import "../containers/App";
@import "../modules/data/styles/main";
// Components
@import "../components/button/Button";
// Views
@import "../views/styles/StartView";
@import "../views/styles/SaveDataView";

// Font
@import url('https://fonts.googleapis.com/css?family=Muli');


* {
    font-family: 'Muli', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}
